code {
  font-size: 80%;
}

pre {
    font-size: 100%!important;
}


li ul li {
    font-style: normal;
}

li ol li {
    font-style: normal;
}

em {
    color: blue;
}

pre {
    background-color: white;
}

.caption {
  font-size: 60%;
}

img {
    margin: auto;
    display: block;
}

.callout-important {
    color: red;
    background: yellow;
}

.smaller {
    font-size: 80%!important;
}

.reveal pre.sourceCode code {
        max-height: 100%; // default 500
}
